{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
	}
	.field-heading{
		color: var(--secondary-text-color);
	}
	.icon-container:hover {
		opacity: 0.3;
		cursor: pointer;
	}
	.friends-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.person-add-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.friend-text{
		font-weight: 500;
		color: black;
	}
	.friends-btn{
		background-color: #cccccc;
		border-color: #cccccc;
		color: #000;
		font-weight: 500;
	}
	.friends-btn:hover {
		background-color: #bfbfbf;
		border-color: #bfbfbf;
	}
	.dropdown-toggle::after { 
		content: none; 
	}
	.card{
		border-radius: 12px;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.confirm-friend-request{
		color: green;
	}
	.confirm-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request{
		color: red;
	}
	.message-btn-text{
		font-weight: 500;
	}
</style>

<div class="container-fluid">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">

		<div class="card profile-card m-2">
		  <div class="card-body">
		  	<div class="d-flex flex-column justify-content-center p-4">
				
				{% if request.user.is_authenticated %}

		  		<p class="mt-4 mb-1 field-heading">Email</p>
				<h5>{{email}}</h5>

		  		<p class="mt-4 mb-1 field-heading">Nombre de usuario</p>
		  		<h5>{{username}}</h5>
				
				<p class="mt-4 mb-1 field-heading">Nombre</p>
		  		<h5>{{name}}</h5>

				<p class="mt-4 mb-1 field-heading">Apellido</p>
		  		<h5>{{last_name}}</h5>

				<p class="mt-4 mb-1 field-heading">Telefono mobil</p>
		  		<h5>{{mobile}}</h5>

		  		<a  class="mt-4 btn btn-primary" href="#">Actualizar Usuario</a>

		  		{% endif %}
		  	</div>
		  </div>
		</div>

	</div>
</div>

{% endblock content %}



